<header class="header transition">

    <a href="../../indexlanding/landing/landing.html"><img id="bigLogo" class="big-logo transitionIn" src="../../img/logo.png"><img
            class="small-logo" src="../../img/logo_small.png"></a>



    <div id="myLinks" class="nav transitionIn transitionIn2">
        <a class="a" href="../../indexlanding\index\index.html">Start</a>
        <a class="navHead" href="../../recipes\french-croissants\french-croissants.html">Rezept des
            Tages</a>
        <a class="a" href="../../impressum-datenschutz-contact\contact\contact.html">Kontakt</a>
        <a class="a" href="../../impressum-datenschutz-contact\impressum\indexImpressum.html">Impressum</a>
    </div>

    <div id="bMButton" class="icon2 transitionIcon"  onclick="toggleMenu(), fullMenu()"><img class="burgerMenuImg" src="../../img/icons/chef-hat.png"></div>

</header>